.DS_Store
.idea
.phpunit.result.cache
vendor
vendor-bin
config/phpstan/phpstan.neon
composer.lock
node_modules
package-lock.json
phpunit.xml
infection.html
infection.log
rector.php
tests/Functional/Plugin/Fixtures/ComposerTest/package.json
tests/Functional/Plugin/Fixtures/ComposerTest/package-lock.json
tmp/*
!tmp/.keep
pnpm-lock.yaml
gha-creds-*.json