{
    "timeout": 10,
    "minMsi": 86,
    "minCoveredMsi": 86,
    "source": {
        "directories": [
            "src\/main\/php"
        ],
        "excludes": [
            "PHPCodeSniffer"
        ]
    },
    "logs": {
        "text": "infection.log"
    },
    "mutators": {
        "@default": true
    }
}