<?xml version="1.0" encoding="UTF-8"?>
<phpunit
        beStrictAboutTestsThatDoNotTestAnything="false"
        colors="true"
        bootstrap="vendor/autoload.php">
    <testsuites>
        <testsuite name="AllUnitTests">
            <directory>./tests/Unit/</directory>
            <exclude>./tests/Functional/Plugin/Fixtures/ComposerTest/vendor*</exclude>
        </testsuite>

        <testsuite name="AllFunctionalTests">
            <directory>./tests/Functional/</directory>
            <exclude>./tests/Functional/Plugin/Fixtures/ComposerTest/vendor*</exclude>
        </testsuite>

        <testsuite name="AllSystemTests">
            <directory>./tests/System/</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./src</directory>
            <exclude>
                <file>./src/config</file>
                <directory>./src/main/php/PHPCodeSniffer/Standards/ZooRoyal/Sniffs/Commenting</directory>
            </exclude>
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-text" target="php://stdout" />
    </logging>
</phpunit>
