{
  "extends": [
    "stylelint-config-standard"
  ],
  "customSyntax": "postcss-less",
  "ignoreFiles": ["Resources/*/dist/**/**/**"],
  "plugins": [
    "stylelint-scss"
  ],
  "rules": {
    "at-rule-no-unknown": null,
    "block-no-empty": true,
    "no-descending-specificity": null,
    "indentation": 4,
    "number-leading-zero": "never",
    "max-empty-lines": 2,
    "selector-list-comma-newline-after": null,
    "declaration-empty-line-before": null,
    "max-nesting-depth": 3,
    "selector-type-no-unknown": [
      true,
      {
        "ignore": [
          "custom-elements"
        ]
      }
    ]
  }
}
