{
  "extends": [
    "stylelint-config-standard"
  ],
  "rules": {
    "at-rule-no-unknown": null,
    "block-no-empty": true,
    "no-descending-specificity": null,
    "function-calc-no-invalid": true,
    "indentation": 4
  }
}
