parameters:
    level: 5
    parallel:
        maximumNumberOfProcesses: 4
    fileExtensions:
        - php
    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
        - '#Function \S+ invoked with [0-9]+ parameters?, [0-9]+ required.#'
    exceptions:
        check:
            tooWideThrowType: true
