parameters:
    level: 5
    excludes_analyse:
        - ../../src/main/php/PHPCodeSniffer/Standards/ZooRoyal/Sniffs
        - ../../tests/Functional/PHPCodesniffer/Standards/ZooRoyal/Sniffs/Commenting/Fixtures/FixtureCorrectComments.php
    parallel:
        maximumNumberOfProcesses: 4
    fileExtensions:
        - php
    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
        - '#Function \S+ invoked with [0-9]+ parameters?, [0-9]+ required.#'
        - '#Internal Error:#'