includes:
    - ../../vendor/phpstan/phpstan-mockery/extension.neon
    - ../../vendor/phpstan/phpstan-phpunit/extension.neon
parameters:
    level: 5
    excludes_analyse:
        - ../../src/main/php/PHPCodeSniffer/Standards/ZooRoyal/Sniffs
        - ../../tests/Functional/PHPCodesniffer/Standards/ZooRoyal/Sniffs/Commenting/Fixtures/FixtureCorrectComments.php
    parallel:
        maximumNumberOfProcesses: 4
    fileExtensions:
        - php
    scanFiles:
        - ../../vendor/mockery/mockery/library/helpers.php
        - ../../vendor/hamcrest/hamcrest-php/hamcrest/Hamcrest.php
        - ../../vendor/sebastianknott/hamcrest-object-accessor/src/functions.php