div::before {
  color: red;
}

.inline {

}
div > div.test div div.container div div#content {
  outline: solid 1px red;
}

div::placeholder {
  --my-crazy-color: red;



  z-index: 20;
  display: block;
  width: 200px;
  height: 100px;
  color: red;
  font-size: 20px;
  background: red;
  border: 1px solid red;
}
