# /node_modules/* and /bower_components/* ignored by default

# Ignore built files except build/index.js
# Legacy ignore file will be deleted in next release
# build/*
# !build/index.js
# */**/
# !assets/src/js
# !custom/plugins/**
